.page {
  position: relative;
}

.page::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 425px;
  display: block;
  background-color: hsl(var(--gray));
  border-bottom-left-radius: 60px;
}
